.footer{
    background-color: rgb(213,28,41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .terms{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            margin:0;
            text-align: center;
        }
    }

    p{
        color:white;
        margin: 1rem;
        text-align: center;
    }

    svg{
        color:white;
        margin: 1rem;
    }

    @media (max-width: 650px) {
        p{
            font-size: .8rem; 
        }

    }
}