.main{
    min-height: 100vh;
    height: 100vh;
    background-image: url("../fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    
    .main-wrapper{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        

        .logo{
            width: 200px;
            top: 70px;
        }
        
        
        .download{
            width: 100%;
            top: 50px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            

            .gplay-app{
                width: 180px;
                margin: 1rem;
                border-radius: 10px;
            }

            
        }
    

    }

    
    @media (max-width: 650px) {
        .main-wrapper{
            .logo {
                width: 130px;
                max-width: 100vw;
            }
            
            .download{
                .gplay-app{
                    width: 150px;
                } 
            }
        }
    }
}

