.navbar{
	width: 100vw;
    height: 8vh;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 5px 0 rgb(112, 111, 111);
    padding: 10px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        height: 150%;
        text-decoration: none;
        
        img{
            height: 100%;
        }
    }
    
    .area-clientes{
        height: 100%;
        padding-right: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: block;
        font-weight: bolder;
        color: black;

        a{
            color:black;
            text-decoration: none;
        }
    }
    
    .icon-clientes{
        height: 100%;
        padding-right: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: none;

        a{
            color:black;
            text-decoration: none;
        }

        svg{
            height: 8vh;
            font-size: 2.3rem;
        }
    }

    @media (max-width: 866px){
        .area-clientes{
            display: none;
        }
        .icon-clientes{
            display: block;
        }
    }
}

