.noticia {
    // background-color: white;
    width: 300px;
    // max-height: 400px;
    margin: .8rem;

    img{
        width: 100%;
        height: 40%;
        border-radius: 5px;
        // -webkit-box-shadow: -5px 5px 60px -28px rgba(255,255,255,0.8);
        // -moz-box-shadow: -5px 5px 60px -28px rgba(255,255,255,0.8);
        // box-shadow: -1px 5px 55px 2px rgba(255, 255, 255, 0.3);
    }


    
   

    .container-text{
        line-height: 1.2rem;

        .titulo{
            border-bottom: 1px solid rgb(255, 255, 255);
            font-weight: bolder;
            padding: .8rem 0;
            h5{
                font-size: 1rem;
                font-weight: bolder;
                text-transform: uppercase;
                margin: 0;
                color: rgb(255, 255, 255);
            }
        }

        p{
            font-size: .9rem;
            color: rgb(216, 216, 216);
        }
    }

    button{
        background-color: rgb(213,28,41);
        border: 0;
        border-radius: 5px;
        padding: .5rem;
        color: white;
        font-family: Comfortaa;
        font-size: .9rem;
        font-weight: bolder;
        text-align: start;
        cursor: pointer;
    }
}
