.noticia {
    // background-color: white;
    width: 300px;
    // max-height: 600px;
    margin: .8rem;

    img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }


    
   

    .container-text{
        line-height: 1.2rem;
        
        .titulo{
            font-weight: bolder;
            padding: 0;
            padding-top: .8rem;
            h5{
                font-size: 1rem;
                font-weight: bolder;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: .8rem;
                color: rgb(255, 255, 255);
            }

            hr{
                width: 15%;
                text-align: start;
                margin:0;
            }
        }

        p{
            font-size: .9rem;
            color: rgb(216, 216, 216);

            span{
                
                font-weight: bolder; 
            }
        }
    }

    button{
        background-color: rgb(213,28,41);
        border: 0;
        border-radius: 5px;
        padding: .5rem;
        color: white;
        font-family: Ubuntu;
        font-size: .9rem;
        font-weight: lighter;
        text-align: start;
        cursor: pointer;
        text-decoration: none;
    }
}
