.login-box{
		width: 100vw;
		height: 100vh;
		background-image: url("../../fondo.jpg");
		background-repeat: no-repeat;
		background-size: cover; 
}

.login {
	max-width: 100vw;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0 auto;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	img{
		width: 100px;
		margin: 1vw;
	}
}
.form {
	max-width: 100%;
	max-height: 70%;
	// position: absolute;
	// left: 500px;
	// top: 135px;
	margin: 2%;
	padding: 20px 20px;
	border-radius: 8px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.form {
	  -webkit-backdrop-filter: blur(3px);
	  backdrop-filter: blur(2px);
	  background-color: rgb(255, 255, 255);  
	}
	.warning {
	  display: none;
	}
  }

  .login .form h2 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight: normal;
	font-size: 1.6rem;
  }

  .login .form h5 {
	color: rgb(213,28,41);
	font-size: 15px;
	margin-top: 10px;
  }

  .login .form p {
	font-size: .9rem;
	margin-top: 10px;
  }
  
  .login .form input {
	width: 91%;
	height: 40px;
	margin-top: 20px;
	background: rgb(255,255,255);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 15px;
	color: rgb(0, 0, 0);
	border-radius: 2px;
	font-size: 14px;
  }
  .login .form input:focus {
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
  }
  ::-webkit-input-placeholder {
	  color: rgb(0, 0, 0);
  }
  .login .form input[type=submit] {
	width: 100%;
	background-color: rgb(213,28,41);
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
  }